.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.sidebar {
  background: gray;
}

main {

}

footer {
  background: darkgray;
  width: 100%;
  height: 12;
  position: fixed;
  bottom: 0;
}
