.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.top {
  background: gray;
}

main {

}

.about {
  
}

footer {
  background: darkgray;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: right;
  padding: 2;
  font-size: 10;
}
